<manifest
    package="org.mobile.library"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".global.GlobalApplication"
        android:allowBackup="true">

        <activity
            android:name=".scan.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>

        <service android:name=".service.VersionUpdateService"/>

    </application>

</manifest>
